<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Főoldal</a></li>
      <li class="breadcrumb-item active" aria-current="page">Profilom</li>
    </ol>
</nav>
<div class="row">
    <div class="col-4">
        <div class="shadow p-2">
            <h5><%=locals.username%></h5>
        </div>
    </div>
    <div class="col-8">
        <div class="shadow p-2">
            
        </div>
    </div>
</div>